In [1]:
print("Hello")

Hello

In [3]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [4]:
for char in "Python":
	print(char)

P
y
t
h
o
n

In [ ]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [6]:
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [7]:
student = { "name":"Alice", "age":20}

for key in student:
    print(key, "=" , student[key])

name = Alice
age = 20

In [9]:
# for loop with else
for i in range(3):
    print(i)
else:
    print("Loop Completed")

0
1
2
Loop Completed

In [10]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [11]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [12]:
for i in range(10):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(1,4):
    for j in range(1,i):
        print(" * ")
    print("\n")

 *


 *
 *

In [17]:
rows = 3
for i in range(1,rows+1):
    print(" * " * i)

 *
 *  *
 *  *  *

In [19]:
print(" Hello " * 5)

 Hello  Hello  Hello  Hello  Hello

In [22]:
rows = 5
for i in range(1, rows+1):
    print(" " * (rows-i)+ " * " * i)

     *
    *  *
   *  *  *
  *  *  *  *
 *  *  *  *  *

In [32]:
fact = 1
n = int(input("Enter a number "))
if n == 1 or n == 0:
    print("The factorial is 1")
elif n < 0:
    print("Factorial is not defined")
else:
    for i in range(1,n+1):
        fact = fact * i
    print("The factorial is ", fact)

The factorial is  3628800

In [33]:
countries= ["India","Japan","China","America","Australia","Swedan","Norway","Germany"]

In [35]:
countries[0:2]

['India', 'Japan']

In [36]:
countries[:3]

['India', 'Japan', 'China']

In [37]:
countries[3:]

['America', 'Australia', 'Swedan', 'Norway', 'Germany']

In [38]:
countries[-4:-1]

['Australia', 'Swedan', 'Norway']

In [39]:
countries.append("Nepal")

In [40]:
countries

['India',
 'Japan',
 'China',
 'America',
 'Australia',
 'Swedan',
 'Norway',
 'Germany',
 'Nepal']

In [41]:
countries.insert(2,"Canada")
countries

['India',
 'Japan',
 'Canada',
 'China',
 'America',
 'Australia',
 'Swedan',
 'Norway',
 'Germany',
 'Nepal']

In [42]:
fruits1 = ["banana", "apple"]
fruits2 = ["cherry", "guava"]
fruits1.extend(fruits2)

In [43]:
fruits1

['banana', 'apple', 'cherry', 'guava']

In [44]:
fruits1.remove("guava")
fruits1

['banana', 'apple', 'cherry']

In [45]:
countries.pop()

'Nepal'

In [46]:
countries

['India',
 'Japan',
 'Canada',
 'China',
 'America',
 'Australia',
 'Swedan',
 'Norway',
 'Germany']

In [47]:
countries.pop(1)

'Japan'

In [48]:
fruits1.clear()

In [49]:
fruits1

[]

In [50]:
countries.index("China")

2

In [52]:
countries.count("India")

1

In [53]:
countries.append("India")

In [54]:
countries.count("India")

2

In [56]:
x = countries.sort()

In [59]:
countries

['America',
 'Australia',
 'Canada',
 'China',
 'Germany',
 'India',
 'India',
 'Norway',
 'Swedan']

In [58]:
print(x)

None

In [60]:
countries.sort(reverse=True)

In [61]:
countries

['Swedan',
 'Norway',
 'India',
 'India',
 'Germany',
 'China',
 'Canada',
 'Australia',
 'America']

In [62]:
countries.reverse()

In [63]:
countries

['America',
 'Australia',
 'Canada',
 'China',
 'Germany',
 'India',
 'India',
 'Norway',
 'Swedan']

In [64]:
temp = countries.copy()

In [65]:
temp

['America',
 'Australia',
 'Canada',
 'China',
 'Germany',
 'India',
 'India',
 'Norway',
 'Swedan']