In [1]:
print("Hello")

Hello

In [3]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [4]:
for char in "Python":
	print(char)

P
y
t
h
o
n

In [ ]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [6]:
for x in range(10,0,-1):
    print(x)

10
9
8
7
6
5
4
3
2
1

In [7]:
student = { "name":"Alice", "age":20}

for key in student:
    print(key, "=" , student[key])

name = Alice
age = 20

In [9]:
# for loop with else
for i in range(3):
    print(i)
else:
    print("Loop Completed")

0
1
2
Loop Completed

In [10]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [11]:
for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [12]:
for i in range(10):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(1,4):
    for j in range(1,i):
        print(" * ")
    print("\n")

 *


 *
 *

In [17]:
rows = 3
for i in range(1,rows+1):
    print(" * " * i)

 *
 *  *
 *  *  *

In [19]:
print(" Hello " * 5)

 Hello  Hello  Hello  Hello  Hello

In [22]:
rows = 5
for i in range(1, rows+1):
    print(" " * (rows-i)+ " * " * i)

     *
    *  *
   *  *  *
  *  *  *  *
 *  *  *  *  *

In [32]:
fact = 1
n = int(input("Enter a number "))
if n == 1 or n == 0:
    print("The factorial is 1")
elif n < 0:
    print("Factorial is not defined")
else:
    for i in range(1,n+1):
        fact = fact * i
    print("The factorial is ", fact)

The factorial is  3628800

In [33]:
countries= ["India","Japan","China","America","Australia","Swedan","Norway","Germany"]

In [35]:
countries[0:2]

['India', 'Japan']

In [36]:
countries[:3]

['India', 'Japan', 'China']

In [37]:
countries[3:]

['America', 'Australia', 'Swedan', 'Norway', 'Germany']

In [38]:
countries[-4:-1]

['Australia', 'Swedan', 'Norway']

In [39]:
countries.append("Nepal")

In [40]:
countries

['India',
 'Japan',
 'China',
 'America',
 'Australia',
 'Swedan',
 'Norway',
 'Germany',
 'Nepal']

In [41]:
countries.insert(2,"Canada")
countries

['India',
 'Japan',
 'Canada',
 'China',
 'America',
 'Australia',
 'Swedan',
 'Norway',
 'Germany',
 'Nepal']

In [42]:
fruits1 = ["banana", "apple"]
fruits2 = ["cherry", "guava"]
fruits1.extend(fruits2)

In [43]:
fruits1

['banana', 'apple', 'cherry', 'guava']

In [44]:
fruits1.remove("guava")
fruits1

['banana', 'apple', 'cherry']

In [45]:
countries.pop()

'Nepal'

In [46]:
countries

['India',
 'Japan',
 'Canada',
 'China',
 'America',
 'Australia',
 'Swedan',
 'Norway',
 'Germany']

In [47]:
countries.pop(1)

'Japan'

In [48]:
fruits1.clear()

In [49]:
fruits1

[]

In [50]:
countries.index("China")

2

In [52]:
countries.count("India")

1

In [53]:
countries.append("India")

In [54]:
countries.count("India")

2

In [56]:
x = countries.sort()

In [59]:
countries

['America',
 'Australia',
 'Canada',
 'China',
 'Germany',
 'India',
 'India',
 'Norway',
 'Swedan']

In [58]:
print(x)

None

In [60]:
countries.sort(reverse=True)

In [61]:
countries

['Swedan',
 'Norway',
 'India',
 'India',
 'Germany',
 'China',
 'Canada',
 'Australia',
 'America']

In [62]:
countries.reverse()

In [63]:
countries

['America',
 'Australia',
 'Canada',
 'China',
 'Germany',
 'India',
 'India',
 'Norway',
 'Swedan']

In [64]:
temp = countries.copy()

In [65]:
temp

['America',
 'Australia',
 'Canada',
 'China',
 'Germany',
 'India',
 'India',
 'Norway',
 'Swedan']

In [1]:
marks = [78,85,90,66,88]
average = sum(marks)/ len(marks)
print("The Average is : ", average)

The Average is :  81.4

In [2]:
students = ["Alice", "Bob", "Charlie", "David"]
present = ["Alice", "David"]
for student in students:
    status = "Present" if student in present else "Absent"
    print(student , " : ", status)

Alice  :  Present
Bob  :  Absent
Charlie  :  Absent
David  :  Present

In [4]:
products = ["Laptop", "Mobiles", "Chairs", "Books", "TVs", "Tables", "Boats"]
search = input("Enter search string")
results = [p for p in products if search.lower() in p.lower() ]
print(results)

['Books', 'Boats']

In [7]:
data = ["  apple ", " ", "cherry", "    ","banana"]
cleaned_data = [item.strip() for item in data if item.strip()]
print(cleaned_data)

['apple', 'cherry', 'banana']

In [8]:
student = "Raj",22,"ECE"

In [9]:
type(student)

tuple

In [10]:
student

('Raj', 22, 'ECE')

In [11]:
student[0]

'Raj'

In [13]:
student[4]

IndexError: tuple index out of range

In [14]:
student[1]=34

TypeError: 'tuple' object does not support item assignment

In [15]:
sname, sage, sbranch = student

In [16]:
print(sname," ",sage," ",sbranch)

Raj   22   ECE

In [17]:
str = "   Hello Python   "

In [18]:
str.lower()

'   hello python   '

In [19]:
str.upper()

'   HELLO PYTHON   '

In [20]:
str.strip()

'Hello Python'

In [21]:
len(str)

18

In [22]:
len(str.strip())

12

In [23]:
# replace() -- replace the substring
str.replace("Python", "Java")

'   Hello Java   '

In [25]:
#split - split the given string into smaller parts based on the delimiter, default delimiter is space
name = "Hari Krishna Rajesh Ramu"
names = name.split()
type(names)

list

In [26]:
address = "123,MG Road,Bangalore"
address.split(",")

['123', 'MG Road', 'Bangalore']

In [30]:
#join() - join a list into a string
names = ["Anil","Sunil","Kishore","Ramu"]
",".join(names)

'Anil,Sunil,Kishore,Ramu'

In [32]:
# find() --> Returns index of first occurance of the given character
"hello".find('l')

2

In [ ]:
#count method returns the occurences fo the given character
"this is a aprogram ".count('a')

3

In [35]:
#startswith() ---> check if the given string starts with the given charcater or not

"Hello, welcome".startswith("he")

False

In [36]:
#ends with -- check if the given string is ending with the given string or not
"Hello welcome".endswith("me")

True

In [39]:
name ="Alice"
age=40
print("my name is {} and age is {}".format(name,age))

my name is Alice and age is 40

In [44]:
# To Check the given string is string pallindrome
str = input("Enter the string ")
if str.lower() == str[::-1].lower():
    print("Given String is Pallindrome")
else:
    print("Not a pallindrome")

Given String is Pallindrome

In [47]:
# Program to count the number of vowels and consonents
str = input("Enter a string to process")
vowels = "aeiouAEIOU"
vcount, ccount = 0, 0
for char in str:
    if char.isalpha():
        if char in vowels:
            vcount+=1
        else:
            ccount+=1
print("Vowel Count : ", vcount)
print("Consonent Count", ccount)

Vowel Count :  6
Consonent Count 17

In [ ]:
# Program to remove the duplicate characters from the given string
str = input("Enter the string")
data = "" #programin
for char in str:
    if char not in data:
        data+=char;
print(data)

progamin

In [1]:
s = {1,2,3,4,5}
type(s)

set

In [2]:
s = set([1,2,3])

In [3]:
type(s)

set

In [4]:
s.add(10)

In [5]:
s

{1, 2, 3, 10}

In [6]:
s1 = {20,30,40}
s.update(s1)
s

{1, 2, 3, 10, 20, 30, 40}

In [7]:
s.remove(10)

In [8]:
s

{1, 2, 3, 20, 30, 40}

In [9]:
s.remove(100)

KeyError: 100

In [10]:
s.discard(100)

In [12]:
s.pop()

2

In [13]:
s

{3, 20, 30, 40}

In [14]:
print(s.pop())

3

In [15]:
s.clear()

In [16]:
s

set()

In [20]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,6}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [21]:
s1.intersection(s2)

{3, 4, 5}

In [22]:
s1.difference(s2)

{1, 2}

In [24]:
s2.difference(s1)

{6}

In [25]:
s1.symmetric_difference(s2)

{1, 2, 6}

In [27]:
s2.issubset(s1)

False

In [28]:
s1.isdisjoint(s2)

False

In [29]:
s1 = {1,2,3}
s2 = {4,5,6}
s1.isdisjoint(s2)

True

In [30]:
for x in s1:
    print(x)

1
2
3

In [32]:
fruits = {"apple","banana","cherry"}
print(fruits)

{'apple', 'banana', 'cherry'}

In [33]:
import array
x = array.array('i',[10,20,30,40])
type(x)
for i in x:
    print(i)

10
20
30
40

In [34]:
type(x)

array.array

In [35]:
x.append(100)
x

array('i', [10, 20, 30, 40, 100])

In [36]:
x.remove(10)

In [37]:
x

array('i', [20, 30, 40, 100])

In [38]:
x.pop(10)

IndexError: pop index out of range

In [39]:
x.pop(3)

100

In [40]:
x[0]
x[-1]

40

In [41]:
x[-1]

40

In [42]:
x[0]

20

In [43]:
x

array('i', [20, 30, 40])

In [44]:
x.reverse()

In [45]:
x

array('i', [40, 30, 20])

In [46]:
type(x)

array.array

In [47]:
t = x.tolist()
type(t)

list

In [48]:
a=10
b=20
if a < b:
    temp = "Hello"
else:
    print("else")

print(temp)

Hello

In [55]:
a=100
b=20
temp1="Anil"
if a<b:
    temp1="Kumar"
else:
    print("inside the false block")
print(temp1)

inside the false block
Anil

In [56]:
emp = {
    "name":"Anil",
    "dept":"finance",
    "location":"Chennai"
}

In [57]:
type(emp)

dict

In [58]:
book = dict(name="Python Reference", author="Praveen", isbn=123456)

In [59]:
type(book)

dict

In [60]:
book['name']

'Python Reference'

In [61]:
book['author']

'Praveen'

In [62]:
book['isbn']

123456

In [63]:
book['author']= "RonVonson"

In [64]:
book['author']

'RonVonson'

In [65]:
book

{'name': 'Python Reference', 'author': 'RonVonson', 'isbn': 123456}

In [68]:
book.get('name1','nothing')

'nothing'

In [69]:
book.keys()

dict_keys(['name', 'author', 'isbn'])

In [70]:
book.values()

dict_values(['Python Reference', 'RonVonson', 123456])

In [72]:
book.items()

dict_items([('name', 'Python Reference'), ('author', 'RonVonson'), ('isbn', 123456)])

In [73]:
book.pop("name")

'Python Reference'

In [74]:
book

{'author': 'RonVonson', 'isbn': 123456}

In [75]:
book.update("name":"Java Reference")

SyntaxError: invalid syntax (786828634.py, line 1)

In [76]:
book.update({"name":"Java Reference"})

In [77]:
books

NameError: name 'books' is not defined

In [78]:
book

{'author': 'RonVonson', 'isbn': 123456, 'name': 'Java Reference'}

In [79]:
book.popitem()

('name', 'Java Reference')

In [80]:
book

{'author': 'RonVonson', 'isbn': 123456}

In [81]:
for key, value in book.items():
    print(key,"===>",value)

author ===> RonVonson
isbn ===> 123456

In [82]:
students = {
    "Alice" : [85,95,90],
    "Bob":[76,79,82],
    "Charlie":[91,89,92]
}

In [83]:
type(students)

dict

In [85]:
type(students['Alice'])

list

In [86]:
students['Alice'][2]

90

In [87]:
person = {
    "id":1001,
    "name":"Kumar",
    "address": {
        "dno":9001,
        "street":"SP Road",
        "city":"Hyderabad"
    }
}

In [89]:
person['id']

1001

In [90]:
person['address']

{'dno': 9001, 'street': 'SP Road', 'city': 'Hyderabad'}

In [91]:
person['address']['dno']

9001

In [103]:
keys = ["name","age","city","state"]
values =["kumar",39,"Chennai","Tamilnadu"]
data = dict(zip(keys,values))

In [104]:
data

{'name': 'kumar', 'age': 39, 'city': 'Chennai', 'state': 'Tamilnadu'}