In [ ]:
student = {
    "id":1001,
    "name":"sunil",
    "branch":"ece"
}

if "sunil" in student:
    print("Grade key exists in Student")
else:
    print("Grade key does not exists")

Grade key does not exists

In [4]:
for key, value in student.items():
    print(f"{key} ==> {value}")

id ==> 1001
name ==> sunil
branch ==> ece

In [5]:
for key, value in student.items():
    print(("{} ==> {}").format(key,value))

id ==> 1001
name ==> sunil
branch ==> ece

In [2]:
student = {
    "id":1001,
    "name":"sunil",
    "branch":"ece"
}

marks ={
    "m1":89,
    "m2":85,
    "m3":80
}
student.update(marks) # student = student + marks

for key, value in student.items():
    print(("{} ==> {}").format(key,value))

id ==> 1001
name ==> sunil
branch ==> ece
m1 ==> 89
m2 ==> 85
m3 ==> 80

In [ ]:
students = {
    "Alice" : {"maths":78, "science":74, "social":80},
    "Bob" : {"maths":67, "science":70, "social":60},
    "Charlie": {"maths":60, "science":70, "social":80},
    "David" : {"maths":54, "science":61, "social":69},
    "Eiffel" : {"maths":81, "science":85, "social":90}
}

for name, subjects in students.items():
    total = sum(subjects.values())
    avg = total/ len(subjects)
    #print(f"{name} => Total is : {total} and Average is :{avg:2f}")
    temp = { "total" :total , "average" : avg}
    subjects.update(temp)

# write the pytho code to find the student with highest marks and display the details

for name, subjects in students.items():
    print(name)
    print(subjects)

Alice
{'maths': 78, 'science': 74, 'social': 80, 'total': 232, 'average': 77.33333333333333}
Bob
{'maths': 67, 'science': 70, 'social': 60, 'total': 197, 'average': 65.66666666666667}
Charlie
{'maths': 60, 'science': 70, 'social': 80, 'total': 210, 'average': 70.0}
David
{'maths': 54, 'science': 61, 'social': 69, 'total': 184, 'average': 61.333333333333336}
Eiffel
{'maths': 81, 'science': 85, 'social': 90, 'total': 256, 'average': 85.33333333333333}

In [63]:
# course details in list of tuples
courses = [
    ("C101", "Python Programming", 9000),
    ("C102", "Java Programming", 4000),
    ("C103", "DevOps Programming", 12000),
    ("C104", "Dotnet Programming", 5000),
    ("C105", "Machine Learning Programming", 19000)
]

# list to store the student details
students = []

#  Read the number of students for application
n = int(input("Enter number of students"))

for i in range(n):
    #print("Enter the student name: ")
    name = input("Enter the student name")
    sid = input("Enter the student id")
    registered_courses = set()
    course_list = []
    while True:
        print("THe list of courses available")
        for code, title, fee in courses:
            print(f"{code} -- {title} -- {fee}")
        choice = input("Enter the course number - DONE to exit")

        if choice == 'DONE':
            break
        if choice in registered_courses:
            print("Course already registered")
            continue

        found = False

        for course in courses:
            if course[0] == choice:
                course_list.append(course)
                registered_courses.add(choice)
                print("Course Added Successfully...!")
                found=True
                break
        if not found :
            print("Invalid Course Code")
        
    # Calculate the total fee for registered courses
    fees = 0
    for course in course_list:
        fees += course[2]

        student = {
            "id": sid,
            "name": name,
            "courses": course_list,
            "total_fees" : fees
        }
    
    students.append(student)

    # Display the student details
for s in students:
    display(s)

def display(student):
    print("Student Id : ",student['id'])
    print("Name of Student: ",student['name'])
    print("Registered Courses: ")
    for course in student['courses']:
        print( course[0]," -- ",course[1], "--", course[2])
    print("Total Fee to pay: ", s['total_fees'])

THe list of courses available
C101 -- Python Programming -- 9000
C102 -- Java Programming -- 4000
C103 -- DevOps Programming -- 12000
C104 -- Dotnet Programming -- 5000
C105 -- Machine Learning Programming -- 19000
Course Added Successfully...!
THe list of courses available
C101 -- Python Programming -- 9000
C102 -- Java Programming -- 4000
C103 -- DevOps Programming -- 12000
C104 -- Dotnet Programming -- 5000
C105 -- Machine Learning Programming -- 19000
Course Added Successfully...!
THe list of courses available
C101 -- Python Programming -- 9000
C102 -- Java Programming -- 4000
C103 -- DevOps Programming -- 12000
C104 -- Dotnet Programming -- 5000
C105 -- Machine Learning Programming -- 19000
Course Added Successfully...!
THe list of courses available
C101 -- Python Programming -- 9000
C102 -- Java Programming -- 4000
C103 -- DevOps Programming -- 12000
C104 -- Dotnet Programming -- 5000
C105 -- Machine Learning Programming -- 19000
Hello,  {'id': '9010', 'name': 'Amar', 'courses': [('C101', 'Python Programming', 9000), ('C102', 'Java Programming', 4000), ('C103', 'DevOps Programming', 12000)], 'total_fees': 25000}
Hello,  Praveen

In [19]:
n = int(input("Enter n value"))
r = int(input("Enter r value"))
f1 = 1
for i in range(1,n+1):
    f1 = f1 * i
f2 = 1
for j in range(1,r+1):
    f2 = f2* j
f3 = 1
for k in range(1, (n-r)+1):
    f3 = f3 * k
ncr = f1/(f3 * f2)

print("The ncr value is ",ncr)

The ncr value is  15.0

In [ ]:
def fact(n):
    f = 1
    if n == 0 or n == 1:
        return 1;
    else:
        for i in range(1,n+1):
            f = f* i
    return f;

In [18]:
n = int(input("Enter n value"))
r = int(input("Enter r value"))
ncr = fact(n) / (fact(r) * fact(n-r))
print("The ncr value is ", ncr)

The ncr value is  15.0

In [17]:
print(fact(7))

5040

In [23]:
def display():
    print("THIS IS THE FIRST LINE TO DEMO FUNCTION")
    print("This is the second line for demo function")

In [24]:
display()

THIS IS THE FIRST LINE TO DEMO FUNCTION
This is the second line for demo function

In [25]:
def greeting(name):
    print("Hello", name , " Welcome to python programming ")

In [26]:
greeting("praveen")

Hello praveen  Welcome to python programming

In [27]:
def test():
    return "Hello Welcome to Python"

In [28]:
test()

'Hello Welcome to Python'

In [ ]:
def add(a,b):
    return a+b;

In [30]:
print(add(10,20))

30

In [ ]:
print(add(10,89))

99

In [34]:
def greeting(name,city):
    print("Hello ", name , " welcome to ", city)

In [35]:
greeting('Praveen','Chennai')

Hello  Praveen  welcome to  Chennai

In [36]:
greeting('Chennai','Praveen')

Hello  Chennai  welcome to  Praveen

In [37]:
greeting(city="Chennai", name="Arun")

Hello  Arun  welcome to  Chennai

In [40]:
def greeting(name,city="Chennai"):
    print("Hello ", name , " welcome to ", city)

In [41]:
greeting("Arun")

Hello  Arun  welcome to  Chennai

In [42]:
greeting("Arun","Bangalore")

Hello  Arun  welcome to  Bangalore

In [44]:
def add(a,b):
    return a+b

In [45]:
print(add(10,20))

30

In [46]:
print(add(10,20,30))

TypeError: add() takes 2 positional arguments but 3 were given

In [47]:
# Variable number of arguments

def total_marks(*mark):
    return sum(mark)

In [48]:
total_marks(5)

5

In [49]:
total_marks(1,2)

3

In [50]:
total_marks(1,2,3,4,5,5,7)

27

In [55]:
def students_info(**details):
    for key, value in details.items():
        print(f"{key}:{value}")

In [57]:
students_info(name="praveen", city="Hyderabad", age= 48)

name:praveen
city:Hyderabad
age:48

In [62]:
name = "Kumar"
def display(name):
    print("Hello, ", name)
    name = "Praveen"
    print("Hello, ", name)

display(name)
print("Hello, ", name)

Hello,  Kumar
Hello,  Praveen
Hello,  Kumar

In [65]:
a = int(input("Enter a number"))
b = int(input("enter another number"))
c = a/b
print("The c is ",c)

ZeroDivisionError: division by zero

In [ ]:
try:
    a = int(input("Enter a number"))
    b = int(input("enter another number"))
    c = a/b
    print("The c is ",c)
except ZeroDivisionError:
    print("The b value is zero, division is not possible, so re enter the value")
    b = int(input("enter another number"))
    c = a/b
    print("The c is ",c)
finally: 
   print("Inside the finally block")
print("After the finally block")

The b value is zero, division is not possible, so re enter the value
Inside the finally block
After the finally block